.file-format {
	&__wrapper {
		flex: 1;
		border: 0;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	&__fileName {
		margin-top: -20px;
		margin-bottom: 30px;
	}

	&__btns {
		display: flex;
	}
}