.file-not-pages {
	&__wrapper {
		flex: 1;
		border: 0;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	&__gif {
		width: 500px;
		height: 300px;
		background: url('../components/shared/assets/not-pages.gif') center; 
		margin-bottom: 30px;
	}
}