.button {
	width: $btn-min-width;
	height: $btn-height;
	border: none;
  	background-color: $color-btn-default;
  	color: $color-text-light;
  	font-size: $font-size-btn;
  	margin: 0 10px;

  	&:focus, &:active, &:focus:active {
  		outline: none;
  	}

  	&:active {
  		background-color: $color-btn-default-active;
  	}

  	&.disabled {
	  background-color: grey;
	}

	&.primary {
	  background-color: blue;
	  color: white;
	}
}
