.converter-head {
	&__wrapper {
		width: 100%;
		height: 120px;
		// border: solid 1px black;
		background-color: $color-header;
		color: $color-text-light;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__title {
		font-size: $font-size-header;
		cursor: default;
		user-select: none;
	}
}