.file-uploading {
	&__wrapper {
		flex: 1;
		border: 0;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	&__gif {
		width: 300px;
		height: 300px;
		background: url('../components/shared/assets/uploading.gif') center;
		background-size: 300px;
		margin-bottom: 30px;
	}
}