.converter-footer {
	&__wrapper {
		width: 100%;
		height: 80px;
		// border: solid 1px green;
		background-color: $color-footer;
		color: $color-text-light;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}