.file-verify {
	&__wrapper {
		flex: 1;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;

		&_draggable {
			border: dashed 4px $color-body-drop-line-before;
		}

		&_overlay {
			border: dashed 4px $color-body-drop-line-after;
			opacity: .6;
		}
	}
}