$color-primary: rgb(41, 130, 217) !default;
$color-header: #005977 !default;
$color-footer: #2F3132 !default;
$color-body-wrapper: #E7FFFF !default;
$color-body-drop-line-before: #E1E2E3 !default;
$color-body-drop-line-after: #005977 !default;

$color-btn-default: #005977 !default;
$color-btn-default-active: #007399 !default;

$color-text-light: #F4F4F4 !default;
$color-text-dark: #474949 !default;